
/* Your CSS Code here. */
.holder {
  display: flex;         
  flex-wrap: wrap;/* Enables flexbox */
  direction: row;         /* Aligns items in a horizontal row */
  justify-content: space-evenly;
	overflow:scroll;/* ✅ Evenly distributes items across the row */
}